:root {
  --boxit: #3ca1ff;
}

body {
  background-image: linear-gradient(90deg, #a5cbeb  20%, #d1eaff, #a5cbeb 80%);
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: auto;
  padding: 40px;
}

.kentat {
  color: #222;
  margin-left: 10%;
}

h1 {
  color: #fff;
  font-size: 2.5em;
  padding: 2px 20px;
  margin: 20px 40px 20px -20px;
  border-radius: 15px;
  background-color: #67b5ff;;
}

p {
  color: #fff;
    margin-top: 12px;
    margin-bottom: 4px;
}

/* Lämpötilan syöttökenttä */
.kentta {
  width: 130px;
  border: none;
  border-radius: 5px;
  padding: 4px;
  font-size: 1.2em;;
  height: 25px;
}

/* Dropdown valikko mistä mihin lämpötila muutetaan */
#tyyppi{
  border: none;
  border-radius: 5px;
  padding: 4px;
  font-size: 1.2em;;
  width: 250px;
  height: 35px;
}

/* Radio button valikko desimaalien määrille*/
#desimaalit {
  color: #444;
  font-weight: bold;
  padding: 5px 10px;
  margin: 20px 40px 10px 0px;
  border-radius: 15px;
  background-color: #67b5ff;;
}

/* Muutetaan kursorin muoto */
button, #tyyppi, input[type=radio]:hover{
    cursor: pointer;
  }

button {
  background-color: #aeecff;
  border-color: #ffffff;
  border-style:solid;
  border-radius: 15px;
  margin-left: 10px;
  width: 70px;
  height: 30px;
  transition-duration: .1s;
}

button:hover {
  transform: scale(110%);
}

/* Lämpötilojen kysely */
.boxi {
  background-color: var(--boxit);
  padding: 5px 0px 2cap 0px;
  border-radius: 55px;
  box-shadow: 0px 10px 10px #8caac2;
}

/* Lämpötilojen tulostus */
#tulosruutu {
  line-height: 1.2em;
  background-color: var(--boxit);
  box-shadow: 0px 10px 10px #8caac2;
  border-radius: 55px;
  padding-top: 15px;
  margin-top: 20px;
  width: 100%;
  height: 160px;
  text-align: center;
}

/* Mobiili */

@media (min-width: 576px) and (max-width: 768px) {

  body {
    max-width: 1920px;
  }
  
  .boxi {
    padding: 5px;
    border-radius: 15px;
  }
  
  #tulosruutu {
    border-radius: 15px;
    box-shadow: 0px 2px 5px #8caac2;
  }

  #desimaalit {
    padding: 10px;
    border-radius: 15px;
  }
}

@media (max-width: 576px) {

  body { 
    padding: 5px;
  }

  h1 {
    color: #fff;
    font-size: 1.75em;
    padding: 2px 20px;
    margin: 20px 5px 20px -20px;
    border-radius: 15px;
    background-color: #67b5ff;;
  }

  .boxi {
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #8caac2;
  }

  #tulosruutu {
    border-radius: 5px;
    margin-top: 10px;
    height: 180px;
    box-shadow: 0px 2px 5px #8caac2;
  }

  #desimaalit {
    padding: 5px 10px;
    margin: 10px 40px 10px 0px;
    border-radius: 15px;
  }
}

@media (max-width: 280px) {

  body { 
    padding: 1px;
  }

  h1 {
    color: #fff;
    font-size: 1.5em;
    padding: 2px 20px;
    margin: 20px 5px 20px -20px;
    border-radius: 15px;
    background-color: #67b5ff;;
  }

  .boxi {
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #8caac2;
  }

  #tulosruutu {
    border-radius: 5px;
    margin-top: 10px;
    height: 120px;
    box-shadow: 0px 2px 5px #8caac2;
    font-size: 1.8em !important;
  }

  #desimaalit {
    padding: 5px 10px;
    margin: 10px 0px 0px 0px;
    border-radius: 15px;
  }

  .kentat {
    margin-left: 2%;
  }
}
